table.table tbody tr td,
table.table thead tr th,
table.table thead {
    border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color:;
}


.card{
  max-width: 18rem;

}

.card-header{
  text-align: center;
  font-weight:bold;
}

.card-text{
  font-weight: 700;
 font-size: larger;
 text-align: center;
 color: blue;
}
.dropdown{
  size: 3px;
}

.button{
  position: absolute;
   right: 0;
}
